<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Galleria-Super Market | Dashboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/Assets/css/dataTables.bootstrap.min.css" />
    <link href="~/Assets/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/css/style.min.css" />
    <link rel="stylesheet" href="~/Assets/css/skins.min.css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/Assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap3-wysihtml5.min.css" />
    <link rel="stylesheet" href="~/Assets/css/custom.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","Home")" class="logo">
                <img src="~/Assets/img/logo.png" class="logo-img" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                @Html.Partial("_LoginPartial")
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminMenuPartial")
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <strong>&copy; @DateTime.Now.Year <a href="@Url.Action("Index","Home")"><span class="logo-text-main">Galleria</span><span class="super">super</span><span class="market">market</span></a>.</strong> All rights
            reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script src="/Assets/js/jquery.dataTables.min.js"></script>
    <script src="/Assets/js/dataTables.bootstrap.min.js"></script>
    <!--Datatable Buttons-->
    <script src="/Assets/js/dataTables.buttons.min.js"></script>
    <script src="/Assets/js/buttons.flash.min.js"></script>
    <script src="/Assets/js/jszip.min.js"></script>
    <script src="/Assets/js/pdfmake.min.js"></script>
    <script src="/Assets/js/buttons.html5.min.js"></script>
    <script src="/Assets/js/buttons.print.min.js"></script>
    <!--Datatable Buttons End-->
    <script src="/Assets/js/main.min.js"></script>
    <script src="/Scripts/Custom/Notification.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            
            $('.sidebar-menu').on('click', 'li', function () {
                var $this = $(this);
                if ($this.siblings().hasClass('active')) {
                    $this.siblings().removeClass('active');
                    $this.addClass('active');
                } else {

                }
            });

            getUserData();
            function getUserData() {
                $.ajax({
                    url: '/Account/GetUserData',
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        $('#userName').text(res.username);
                        $('#fullName').val(res.name);
                        $('#Email').text(res.email);
                        $('.avatar').attr('src', '/App_File/Staff_Img/' + res.image);
                        $('#Role').text(res.role);
                    }
                });
            };
        });
    </script>
</body>
</html>
