@model GalleriaSupermarket.Models.Expense

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content-header">
    <h1>
        Operation Cost
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Expense</a></li>
        <li><a href="#">Create</a></li>
    </ol>
</section>
<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-7">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-4">Outlet Name</label>
                    <div class="col-md-8">
                        @Html.DropDownList("OutletID", null, "--- Select Outlet ---", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OutletID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Electricity Bill</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ElectricityBill, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ElectricityBill, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Operation Cost</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.OutletOperationCost, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OutletOperationCost, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Staff Salary</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.OutletStaffSalary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OutletStaffSalary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Other Exp.</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.OtherExpense, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OtherExpense, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Month, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </section>
