@model GalleriaSupermarket.Models.Expense

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Outlet.OutletName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outlet.OutletName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectricityBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutletOperationCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutletOperationCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutletStaffSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutletStaffSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseIssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseIssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpenseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
