@model IEnumerable<GalleriaSupermarket.Models.Outlet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content-header">
    <h1>
        Outlet
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Outlet</a></li>
        <li><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="ItemShow" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.City.CityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutletName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DetailsAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.City.CityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutletName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DetailsAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OutletID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OutletID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OutletID })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
@section scripts
{
    <script>
          $(function () {
            $('#ItemShow').DataTable()
          })
    </script>
}