@model IEnumerable<GalleriaSupermarket.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content-header">
    <h1>
        Item page
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Item</a></li>
        <li><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="ItemShow" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </th>
                <th></th>
           </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandName)
                    </td>
                    <td>
                        @if (item.IsAvailable == true)
                        {
                            <a href="javascript:void(0)" id="IsAvailable">Available</a>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BrandID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BrandID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BrandID })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</section>
@section scripts
{
    <script>
  $(function () {
    $('#ItemShow').DataTable()
  })
    </script>
}