@model GalleriaSupermarket.Models.OperationCostDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OperationCostDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Expense.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OperationCostDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
