@model IEnumerable<GalleriaSupermarket.Models.Size>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content-header">
    <h1>
        Product Size
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Size</a></li>
        <li><a href="#">Index</a></li>
    </ol>
</section>
<section class="content">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="ItemShow" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SizeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SizeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SizeID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
@section scripts
{
    <script>
        $(function () {
            $('#ItemShow').DataTable();
        });
    </script>
    
 }